.home-page {
  width: 100%;
  background: #0f0f0f;
  color: white;
}

.home-body {
  width: 100%;
  display: flex;
}

.videos {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 57px - 20px - 20px);
  overflow-y: scroll;
  padding: 20px;
  gap: 20px;

  .filter {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    overflow-x: auto;
    gap: 12px;

    button {
      padding: 8px 12px;
      outline: none;
      border: none;
      border-radius: 10px;
      background: #262626;
      transition: background 0.2s ease;

      &.active {
        color: black;
        background: white;
      }

      &:not(.active):hover {
        background: #333;
      }
    }
  }

  .header {
    display: flex;
    align-items: center;
    padding: 8px 0;

    span {
      width: 10px;
      height: 10px;
      background: red;
      border-radius: 50%;
      margin: 0 12px;
      opacity: 0.6;
    }

    h1 {
      margin: 0;
      font-size: 22px;
      font-weight: 600;
    }
  }
}

.video-grid {
  gap: 15px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
}

@media (max-width: 1800px) {
  .video-grid {
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  }
}

@media (max-width: 1460px) {
  .video-grid {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}