.live-chat {
  top: calc(57px + 20px);
  height: calc(100vh - 57px - 20px - 20px - 2px);
  position: sticky;
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid #303030;

  .header {
    display: flex;
    padding: 12px;
    align-items: center;
    border-bottom: 1px solid #333;


    h1 {
      margin: 0;
      font-size: 16px;
      margin-right: 12px;
    }

    h2,
    span {
      margin: 0;
      font-size: 14px;
      font-weight: normal;
      color: #aaa;
    }

    span {
      font-size: 16px;
      margin-right: 3px;
    }
  }

  .chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 12px;

    .chat-message {
      margin-bottom: 8px;

      strong {
        font-weight: bold;
        color: #3ea6ff;
        margin-right: 6px;
      }
    }  
  }

  .message-box {
    display: flex;
    border-top: 1px solid #333;

    input {
      flex: 1;
      padding: 12px;
      font-size: 16px;
      background: none;
      outline: none;
      border: none;
    }

    span {  
      padding: 8px;
      border-radius: 12px;
      cursor: pointer;
      opacity: 0.6;

      &:hover {
        opacity: 1;
        background: #303030;
      }
    }
  }
}