.navbar {
  height: 56px;
  background: #0f0f0f;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid #222;
  position: sticky;
  gap: 12px;
  top: 0;
  z-index: 100;
}

.nav-left {
  display: flex;
  align-items: center;

  .logo {
    width: 32px;
    margin-right: 8px;
  }

  h1,h2 {
    font-size: 24px;
    font-weight: 600;
    font-family: "M PLUS Rounded 1c", sans-serif;
    margin: 0;
  }
}

.nav-center {
  flex: 1;

  .search-bar {
    width: 60%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    background: #121212;
    border: 1px solid #303030;
    border-radius: 50px;
    color: white;
  }

  @media (max-width: 768px) {
    .search-bar {
      width: 100%;
    }
  }

  input {
    flex: 1;
    min-width: 0;  
    font-size: 16px;
    padding: 8px 12px;
    background: none;
    outline: none;
    border: none;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 38px;
    padding: 0 16px;
    background: #222;
    border-radius: 0 50px 50px 0;
    border-left: 1px solid #303030;;
  }
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 16px;

  button {
    gap: 8px;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 50px;
    border: 2px solid transparent;
    white-space: nowrap;
    outline: none;

    background:
      linear-gradient(#1e1e1e, #1e1e1e) padding-box,
      linear-gradient(
        135deg,
        #ff009d,
        #a600ff,
        #4fc3f7,
        #00e5ff,
        #303030,
        #303030,
        #303030,
        #303030
      ) border-box;

    background-size: 100% 100%, 300% 300%;
    background-position: 0 0, 100% 50%;

    transition: background-position 0.6s ease;

    &:hover {
      border: 2px solid transparent;
      background-position: 0 0, 0% 50%;
      box-shadow: 0 0 12px rgba(79, 195, 247, 0.35);
    }
  }

  .notifications {
    width: 40px;
    height: 40px;    
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: #303030;
    }    
  }

  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #444;
    cursor: pointer;
  }  
}
