.sidebar {
  display: flex;
  flex-direction: column;
  width: 220px;
  background: #0f0f0f;
  padding: 12px 8px;
  border-right: 1px solid #222;
  height: calc(100vh - 57px - 12px - 12px);
  position: sticky;
  top: 57px;

  h1, h2 {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: left;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  h1 {
    font-size: 16px;
  }

  h2 {
    font-size: 16px;
    margin: 10px 15px;
    opacity: 0.6;
  }

  .item {
    display: flex;
    padding: 10px 12px;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    gap: 12px;

    &:hover {
      background: #272727;
    }

    &.active {
      background: #272727;

      h1 {
        font-weight: 600;
      }
    }
  }

  .seperator {
    flex: 0 0 auto;
    height: 1px;
    padding: 0 12px;
    background: #303030;
  }

  .following {
    position: relative;

    h1, h2 {
      margin: 0;
      padding: 0;
      font-weight: 600;
    }

    h2 {
      display: none;
      font-size: 13px;
    }

    div :first-of-type {
      flex: 1;
      min-width: 0;
    }

    .avatar {
      width: 32px;
      height: 32px;
      background: #444;
      border-radius: 50%;
    }

    span {
      display: none;
      position: absolute;
      bottom: 10px;
      left: 34px;
      width: 10px;
      height: 10px;
      background: red;
      border-radius: 50%;
      border: 2px solid #0f0f0f;
    }

    &.live {
      h2,
      span {
        display: block;
      }
    }
  }

}



