.video-card {
  cursor: pointer;
  padding: 10px;
  border-radius: 12px;
  transition: 
    background 0.2s ease,
    transform 0.2s ease,
    box-shadow 0.2s ease;

  &:hover {
    background: #1f1f1f;
    transform: translateY(-2px) scale(1.00);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
  }

  .thumbnail {
    width: 100%;
    aspect-ratio: 16/9;
    background: #333;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .thumbnail-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .video-info {
    display: flex;
    margin-top: 12px;
    position: relative;
    gap: 12px;

    p {
      margin: 0;
      text-align: left;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow-wrap: anywhere;
      overflow: hidden;
    }

    span {
      display: none;
      position: absolute;
      top: 26px;
      left: 26px;
      width: 10px;
      height: 10px;
      background: red;
      border-radius: 50%;
      border: 2px solid #0f0f0f;
    }

    .avatar {
      flex: 0 0 auto;
      width: 36px;
      height: 36px;
      background: #444;
      border-radius: 50%;
    }

    .text {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    .title {
      font-size: 16px;
      font-weight: 600;
    }

    .channel,
    .meta {
      font-size: 14px;
      color: #aaa;
    }
  }

  &.live span {
    display: block;
  }
}




